.header .hero__section {
  width: 95%;
  height: 648px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .hero__section .hero__img {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.header .hero__section .hero__img img {
  flex: 1 0 100%;
}

.header .hero__section .hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 494px;
  height: 553px;
  padding: 48px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header .hero__section .hero__content h1 {
  font-size: 56px;
  color: #3a3a3a;
}

.header .hero__section .hero__content p {
  font-size: 20px;
  color: #898989;
  margin-bottom: 16px;
}

.btn-cta {
  width: 100%;
  padding: 24px 0;
  font-size: 20px;
  color: white;
  background: #e89f71;
  border: unset;
  cursor: pointer;
  margin-top: 32px;
  transition: 0.2s;
}

.btn-cta:hover {
  color: #3a3a3a;
  background: #fff;
  transform: translateY(-16px);
}

.header .hero__section .info__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 100px;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.7);
  width: 294px;
  height: 138.88px;
  padding: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header .hero__section .info__box h5 {
  font-size: 28px;
  color: #3a3a3a;
}

.header .hero__section .info__box p {
  font-size: 16px;
  color: #616161;
  margin-bottom: 8px;
}

.header .hero__section .info__box .info__box--btn {
  display: flex;
  justify-content: space-between;
}

.header .hero__section .info__box .info__box--btn p {
  font-size: 20px;
  font-weight: bolder;
  color: #3a3a3a;
}

.header .hero__section .info__box .info__box--btn a {
  color: #000;
  transition: 0.2s;
}

.header .hero__section .info__box .info__box--btn a:hover {
  transform: translateY(-8px);
  color: #e89f71;
}

.header .hero__section .info__box .info__box--btn a i {
  font-size: 28px;
}

.header .hero__section .hero__control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: rgba(232, 159, 113, 0.2);
  border-radius: 50%;
  color: #e89f71;
  font-size: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.2s;
}

.header .hero__section .hero__control:hover {
  background: #e89f71;
  color: white;
}

.header .hero__section .prev {
  left: 24px;
}

.header .hero__section .next {
  right: 24px;
}

.header .hero__section .slider__dot {
  position: absolute;
  display: flex;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.header .hero__section .slider__dot .slider__dot--item {
  position: relative;
  width: 11px;
  height: 11px;
  background: #d8d8d8;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.header .hero__section .slider__dot .slider__dot--item.active {
  background: #e89f71;
}

.header .hero__section .slider__dot .slider__dot--item.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border: 2px solid #e89f71;
  border-radius: 50%;
}
